/* included to make width and height calculations predictable across all elements*/
*,
*::before,
*::after{
    box-sizing: border-box;
}

/* unify browser default margins to mitigate different margins for headings, paragraphs assigned by browsers. The margins will be defined by author styles instead. */
*{
    margin: 0;
}

:root{
    --font-body: "helvetica", sans-serif;
    --font-h1: "tomarik-serif", serif;
    --font-heading: "tomarik-introvert", sans-serif;
    --base-size: 1rem;
    --line-height: 1.5;
    --measure: 65ch;

    --size-h1: 3rem;
    --size-h2: 2rem;
    --size-h3: 1.8rem;
    --padding: 1rem 2rem;

    /* colors */
    --color-backdrop: #fff8dd;
    --color-main: #f8c36c;
    --color-accent: #ff879f;
    --color-text-light: #fffcf6;
    --color-text-dark: #161624;
} 

body{
    background-color: var(--color-backdrop);
    font-family: var(--font-body);
}

header{
    background-color: var(--color-main);
    font-size: var(--size-h1);
}

h1{
    color: var(--color-text-dark);
    font-family: var(--font-h1);
    font-size: var(--size-h1);
    padding: var(--padding);
}

h2{
    padding: var(--padding);
    font-family: var(--font-heading);
    font-size: var(--size-h2);
}

h3{
    font-family: var(--font-heading);
    font-size: var(--size-h3);
    padding: var(--padding);
}

p{
    padding: var(--padding);
    padding-top: 0;
}